.layout-container {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

.news-article--layout {
  max-width: 960px;
  margin: 0 auto;
}

.full-node--title {
  margin: 20px auto;
  text-align: center;
  max-width: 960px;
}
